{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container">
			<div id="welcome">
				<h1>Hello Twig!!</h1>
				<table>
					<thead>
						<td>Name</td>
						<td>Credit</td>
					</thead>
					<tbody>
						{% for customer in customers %}
							<tr>
								<td>{{ customer.society }}</td>
								<td>{{ customer.credit }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<style>
		h1 {
			color: orange;
		}

		table {
			border: solid 1px black;
		}

		thead {
			font-weight: bold;
			background-color: #fff8b3;
		}

		tr:hover {
			background-color: #7abaff;
		}
	</style>
{% endblock %}
