{% extends 'base.html.twig' %}

{% block title %}Confirm suppression:
{% endblock %}

{% block body %}
	<h1>Suppress planet!</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name:
				</th>
				<td>{{ planet.name }}</td>
			</tr>
			<tr>
				<th>Color:
				</th>
				<td>{{ planet.maincolor }}</td>
			</tr>
		</tbody>
	</table>
	<div class="div_tr"></div>
	<a href="{{ path('planets_index') }}">Cancel</a>

	{# {{ include('post/_delete_form.html.twig') }} #}
{% endblock %}

{% block stylesheets %}
	<style>
		h1 {
			color: orange;
		}

		{
			# table {
				border: solid 1px black;
				width: 15%;
				border-radius: 7px;
			} #
		}

		tr:hover {
			background-color: rgb(193, 226, 211);
		}

		td {
			padding-left: 5px;
		}

		thead {
			font-weight: bold;
			background-color: #fff8b3;
		}

		a:hover {
			font-style: italic;
			color: orange;
		}

		span {
			padding-left: 5px;
		}

		.div_tr {
			height: 6px;
		}

		.td_actions {
			width: 15%;
		}
	</style>
{% endblock %}
