<form method="post" action="{{ path('office_delete', {'idoffice': office.idoffice}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ office.idoffice) }}">
    <div class="div_tr"></div>
    <button class="btn">Delete</button>
</form>
