{% extends 'base.html.twig' %}

{% block title %}New Office{% endblock %}

{% block body %}
    <h1>Create new Office</h1>

    {{ include('office/_form.html.twig') }}

    <a href="{{ path('office_index') }}">back to list</a>
{% endblock %}


{% block stylesheets %}
	<style>
		h1 {
			color: orange;
		}

		table {
			border: solid 1px black;
			width: 30%;
			border-radius: 7px;
		}

		tr:hover {
			background-color: rgb(193, 226, 211);
		}

		td {
			padding-left: 5px;
		}

		thead {
			font-weight: bold;
			background-color: #fff8b3;
		}

		a:hover {
			font-style: italic;
			color: orange;
		}

		span {
			padding-left: 5px;
		}

		.div_tr {
			height: 6px;
		}

		.td_actions {
			width: 15%;
		}
	</style>
{% endblock %}
